//===========================================================
//  ________                   ____       __  _              
// /_  __/ /  ___ __ _  ___   / __ \___  / /_(_)__  ___  ___ 
//  / / / _ \/ -_)  ' \/ -_) / /_/ / _ \/ __/ / _ \/ _ \(_-< 
// /_/ /_//_/\__/_/_/_/\__/  \____/ .__/\__/_/\___/_//_/___/ 
//                               /_/                         
//===========================================================
meta(name="image:Logo" content="")/

meta(name="color:Font Color" content="#666")/

meta(name="color:Links" content="#CAA40E")/
meta(name="color:Links Hover" content="{AccentColor}")/

meta(name="color:Sidebar Background" content="#EEE")/
meta(name="color:Sidebar Border" content="#FFF")/
meta(name="color:Sidebar Font Color" content="#666")/
meta(name="color:Sidebar Headings Color" content="#333")/

meta(name="color:Footer Background" content="#333")/
meta(name="color:Footer Font Color" content="#CCC")/
meta(name="color:Footer Headings Color" content="{AccentColor}")/
meta(name!="color:Footer Base Font Color" content="#999")/

meta(name="color:Nav Background" content="#333")/

meta(name="color:Nav Item Font Color" content="#FFF")/
meta(name="color:Nav Item Font Hover" content="{AccentColor}")/

meta(name="color:Nav Item Background Hover" content="#2A2A2A")/

meta(name="color:Nav Sub Item Font Color" content="#FFF")/
meta(name="color:Nav Sub Item Font Hover" content="#333")/

meta(name="color:Nav Sub Item Background" content="#2A2A2A")/
meta(name="color:Nav Sub Item Background Hover" content="{AccentColor}")/

meta(name="color:Post Background Hover" content="#EEE")/
meta(name="color:Post Meta Separator" content="#BBB")/

meta(name!="select:Headings Font" content="'Helvetica Neue',Helvetica,sans-serif" title="Helvetica Neue")/
meta(name!="select:Headings Font" content="'Open Sans',sans-serif" title="Open Sans")/
meta(name!="select:Headings Font" content="'Raleway',sans-serif" title="Raleway")/
meta(name!="select:Headings Font" content="'Roboto',sans-serif" title="Roboto")/

meta(name!="select:Nav Font" content="'Helvetica Neue',Helvetica,sans-serif" title="Helvetica Neue")/
meta(name!="select:Nav Font" content="'Open Sans',sans-serif" title="Open Sans")/
meta(name!="select:Nav Font" content="'Raleway',sans-serif" title="Raleway")/
meta(name!="select:Nav Font" content="'Roboto',sans-serif" title="Roboto")/

meta(name!="select:Body Font" content="'Helvetica Neue',Helvetica,sans-serif" title="Helvetica Neue")/
meta(name!="select:Body Font" content="'Open Sans',sans-serif" title="Open Sans")/
meta(name!="select:Body Font" content="'Raleway',sans-serif" title="Raleway")/
meta(name!="select:Body Font" content="'Roboto',sans-serif" title="Roboto")/

meta(name="select:Logo Vertical Position" content="0" title="Top")/
meta(name="select:Logo Vertical Position" content="calc(50% - 100px)" title="Middle")/
meta(name!="select:Logo Vertical Position" content="calc(100% - 100px)" title="Bottom")/

meta(name="select:Logo Horizontal Position" content="left" title="Left")/
meta(name="select:Logo Horizontal Position" content="none" title="Center")/
meta(name="select:Logo Horizontal Position" content="right" title="Right")/

meta(name!="select:Logo Background" content="0,0,0,.45" title="Dark Shade")/
meta(name!="select:Logo Background" content="255,255,255,.45" title="Light Shade")/
meta(name!="select:Logo Background" content="0,0,0,0" title="None")/

meta(name!="select:Footer Base Font Size" content="x-small" title="Small")/
meta(name!="select:Footer Base Font Size" content="small" title="Medium")/
meta(name!="select:Footer Base Font Size" content="medium" title="Normal")/

meta(name!="select:Footer Base Text Align" content="left" title="Left")/
meta(name!="select:Footer Base Text Align" content="center" title="Center")/
meta(name!="select:Footer Base Text Align" content="right" title="Right")/

meta(name!="select:Footer Columns" content="1" title="1")/
meta(name!="select:Footer Columns" content="2" title="2")/
meta(name!="select:Footer Columns" content="3" title="3")/
meta(name!="select:Footer Columns" content="4" title="4")/

meta(name!="if:Show Sidebar" content="1")/
meta(name!="if:Sidebar on the left" content="0")/
meta(name!="if:Show Twitter Feed in Sidebar" content="0")/
meta(name!="if:Show Post Notes on Sidebar" content="1")/

meta(name!="select:Tweets to Show" content="1" title="1")/
meta(name!="select:Tweets to Show" content="2" title="2")/
meta(name!="select:Tweets to Show" content="3" title="3")/
meta(name!="select:Tweets to Show" content="4" title="4")/
meta(name!="select:Tweets to Show" content="5" title="5")/
meta(name!="select:Tweets to Show" content="10" title="10")/

meta(name="if:Show Header Banner Ad" content="0")/
meta(name="if:Show Sidebar Banner Ad" content="0")/

meta(name="if:Sidebar on Home Page" content="1")/
meta(name="if:Sidebar on Post Page" content="1")/
meta(name="if:Sidebar on Search Page" content="1")/

meta(name="if:Use Home Page Sidebar for All Pages" content="0")/

meta(name!="if:Home Button in Navigation" content="1")/

meta(name!="if:Show Footer" content="1")/
meta(name!="if:Show Footer Columns" content="1")/

meta(name="text:Header Height" content="500")/
meta(name="text:Max Site Width" content="960")/

meta(name="text:Custom Navigation List" content="")/

meta(name="text:Header Banner Ad" content="<img src=\"http://dummyimage.com/768x90/666/333.jpg&text=PLACEHOLDER\"/>")/
meta(name="text:Sidebar Banner Ads" content="<img src=\"http://dummyimage.com/250/666/333.jpg&text=PLACEHOLDER\"/>")/

meta(name="text:Home Page Sidebar" content="<h3>Sidebar</h3><p>Change this text in the Theme Options</p>")/
meta(name="text:Post Page Sidebar" content="<h3>Sidebar</h3><p>Change this text in the Theme Options</p>")/
meta(name="text:Search Page Sidebar" content="<h3>Sidebar</h3><p>Change this text in the Theme Options</p>")/

meta(name!="text:Footer Column 1" content="<h3>Column 1</h3><p>Change this text in the Theme Options</p>" )/
meta(name!="text:Footer Column 2" content="<h3>Column 2</h3><p>Change this text in the Theme Options</p>" )/
meta(name!="text:Footer Column 3" content="<h3>Column 3</h3><p>Change this text in the Theme Options</p>" )/
meta(name!="text:Footer Column 4" content="<h3>Column 4</h3><p>Change this text in the Theme Options</p>" )/

meta(name="text:Footer Notes" content="")/

meta(name="text:Twiiter Feed Title" content="Tweets")/
meta(name="text:Google Analytics Tracking ID" content="")/